<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @stream.date %>
</p>

<p>
  <strong>Collection:</strong>
  <%= @stream.collection %>
</p>

<%= link_to 'Edit', edit_stream_path(@stream) %> |
<%= link_to 'Back', streams_path %>
